h1{
    display:flex;
    font-size: 1.2rem;
    font-weight: bold;
  }
  h2{
    display:flex;
    font-size: 1.5rem;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    justify-content: center;
  }
  h4{
    display:flex;
    font-size: 0.8rem;
    font-weight: bold;
  
  }
  .header {
    grid-template-columns: 1fr;
  }
  .parent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    text-align: center;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 2 / 1 / 3 / 2; }
    .div3 { grid-area: 3 / 1 / 4 / 2; }
  
  
  
    .parent__link {
      font-weight: 600;
      font-size: 16px;
      padding: 3px 16px;
      background-color: grey;
      border-radius: 28px;
      -webkit-border-radius: 28px;
      color: #ffffff;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      border: 1px solid #006b75;
      transition: 200ms all linear;
      -webkit-transition: 200ms all linear;
      -moz-transition: 200ms all linear;
      -ms-transition: 200ms all linear;
      -o-transition: 200ms all linear;
    }
    .parent__link:hover {
      color: #006b75;
      background-color: #fff;
    }
    .parent__link--small {
      font-size: 12px;
      width: 100px;
      height: 16px;
    }
  
  .content {
    margin:0 auto;
    font-size:2.5em;
  }
  #content {
    margin: 0 auto;
    display: flex;
    padding: 0;
    text-align: center;
  }
  /* Built on ideas from https://codepen.io/Schepp/pen/WNbQByE */
  body {
    margin: 0;
    padding: 0;
  }
  .carousel * {
    box-sizing: border-box;
    scrollbar-color: transparent transparent; /* thumb and track color */
    scrollbar-width: 0px;
  }
  .carousel *::-webkit-scrollbar {
    width: 20;
  }
  .carousel *::-webkit-scrollbar-track {
    background: transparent;
  }
  .carousel *::-webkit-scrollbar-thumb {
    background: grey;
    border: none;
  }
  .carousel * {
    -ms-overflow-style: none;
  }
  .carousel {
    --slide: 0;
    position: relative;
    width: 100%;
    height: 400px;
    text-align: center;
    color: #fff;
  }
  .carousel .carousel-inner {
    --slides: 0;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
  @media (prefers-reduced-motion: reduce) {
    .carousel .carousel-inner {
      scroll-behavior:auto;
    }
  }
  .carousel a {
    position: relative;
    display: inline-block;
    width: 11px;
    height: 11px;
    cursor: pointer;
    border-radius: 50%;
    background: rgba(120, 120, 120, 0.3);
    border: 1px solid #fff;
    top: 280px;
    z-index: 2;
    line-height: 0;
    padding: 0;
    margin: 0;
    transition: transform ease 0.5s;
  }
  .carousel a:focus {
    background: #abecd2;
  }
  .carousel-caption {
    background-color: rgba(7, 29, 44, 0.33);
    position: absolute;
    padding: 20px;
    text-shadow: 0 1px 2px rgb(0 0 0 / 60%);
    top: 20%;
    width: 80%;
    left: 10%;
  }
  .carousel .item {
    --slide: 0;
    flex: 0 0 100%;
    height: 100%;
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
    z-index: 1;
    scroll-snap-align: center;
    background-size: cover;
  }
  .carousel .item:after {
    content: "";
    line-height: 0;
    display: inline-block;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #03d07f;
    top: 284px;
    --slideLeft: calc(var(--slide) * 15px);
    --slidesCorrect: calc((var(--slides) * 7.85px) + 10.5px);
    transform: translate(calc(var(--slideLeft) - var(--slidesCorrect)));
    left: 50%;
    opacity: 0;
    z-index: 11;
    transition: opacity 0s ease 0s;
  }
  .carousel .item:target:after {
    opacity: 1;
  }
  .carousel:focus-within .item:target:after {
    transition: opacity 0.3s ease 0.8s;
  }
  @media screen and (max-width: 800px) {
    .carousel a,
    .carousel .item:after {
      display: none;
    }
  }
  nav {
      padding: 1em;
      font-family: font-family Verdana, Geneva, sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  
  }
  nav ul {
      list-style: none;
      padding: 0;
      margin: 0;
      }
  nav li a {
      color: blue;
      display: block;
      text-decoration: none;
      padding: .5em 1em;
      box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
    }
  nav li a:hover {
      background: #0d6efd;
      color: white;
    }
  
    /* @media-query */
  @media screen and (min-width:600px){
    nav ul {
      display: flex;
      justify-content:flex-start;
      text-align: center;   }
  .parent {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    text-align: center;
    }
    .div1 {grid-area: 1 / 1 / 2 / 2;}
    .div2 {grid-area: 1 / 2 / 2 / 3;}
    .div3 {grid-area: 1 / 3 / 2 / 4;}
    
  }
  footer {
    display: flex;
    border-radius: .5em;
    margin: 0.5em auto;
    padding: 0.25em;
    text-align: center;
  }